@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: #d9d9d9;
}

header {
    background: #E0A07C;
    width: 100vw;
    height: 117px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.logo {
    position: absolute;
    left: 0;
}

.logo img {
    width: 60px;
    height: 60px;
    margin-left: 50px;
}

.menu ul {
    display: flex;
    flex-direction: row;
    width: 670px;
    height: 40px;
    /* position: relative; */
    right: 170px;
    gap: 5%;
    /* margin-right: 50vh; */
    margin-top: 15px;

}

.menu ul li {
    list-style-type: none;
}

.menu ul li a {
    text-decoration: none;
    padding: 10px 30px;
    background-color: #EB423F;
    color: #000;

    font-weight: 600;
    border-radius: 10px;
    ;
}

.text-align-center {
    text-align: center;
}

.action-button {
    padding: 8px 30px;
    border: 1px solid #000000;
    text-decoration: none;
    cursor: pointer;
    background-color: #d9d9d9;
    font-weight: 700;
    color: #2c2c2c;
    border-radius: 5px;
    font-size: 16px;
}

.action-button:hover {
    background-color: #b1b1b1;
    color: #ffffff;
}

.novo {
    display: flex;
    height: 40px;
    gap: 15px;
    margin: 10px;
}

.container {

    width: calc(100vw);
    height: calc(100vh - 117px);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    background-color: #E6E6E6;

    & .search-filter {

        display: flex;
        width: 100vw;
        justify-content: space-between;

        & form {
            display: flex;
            justify-content: space-around;
            gap: 20px;
            padding: 5px;

            & .search {
                width: 200px;
                height: 40px;
                background-color: #e6e6e6;
                border: #fff 2px solid;
                border-radius: 5px;
            }

            & .search:hover {
                border: #000 2px solid;
            }

            & .search::placeholder {
                padding-left: 10px;
                font-weight: 700;
            }

            & .button-search {
                border: #fff 2px solid;
                height: 40px;
                width: 120px;
                background: #E0A07C;
                cursor: pointer;
                font-weight: 700;
                color: #4d4d4d;
            }
            & .button-search:hover {
                border: #000 2px solid;
                width: 120px;
                background: #E0A07C;
                cursor: pointer;
            }
        }
    }

    & .title {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    & .table {
        width: 60vw;
        border-spacing: 0;
        border-collapse: collapse;
        margin-top: 20px;
        border-radius: 5px;

        & thead {
            & tr th {
                text-align: left;
                padding: 10px;
                background-color: #fff;
                border: #fff solid 1px;

            }
        }

        & tbody {
            & tr td {
                padding: 10px;
                background-color: #fff;
                border: #fff solid 1px;
            }
        }

        & .card {
            position: relative;
            width: 750px;
            max-height: 450px;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 20px;
            background-color: #ffffff;
            border-radius: 10px;

            & .cabecalho {
                position: relative;
                top: -40px;
                right: -25px;
                width: 100%;
                color: #d9c9c9;
                font-size: 15px;
            }

            & hr {
                width: 99%;
                height: 2px;
                border: #d9c9c9 1px solid;
                position: relative;
                top: -45px;
            }

            & .campos {
                display: flex;
                flex-direction: column;

                & form {
                    margin: 0;
                    display: flex;
                    flex-direction: column;
                    gap: 19px;

                    & input {
                        width: 585px;
                        height: 44px;
                        border: #a3a3a3 2px solid;
                        border-radius: 10px;
                        position: relative;
                        top: -20px;
                        font-size: 17px;
                    }

                    & input::placeholder {
                        color: #c5afaf;
                        font-size: 17px;
                        font-weight: 500;
                        padding: 10px;
                    }

                    & a {
                        text-decoration: none;
                        color: #EB423F;
                        font-size: 20px;
                        position: relative;
                        top: -20px;
                    }

                    & button {
                        width: 585px;
                        height: 44px;
                        background-color: #EB423F;
                        border: none;
                        border-radius: 10px;
                        color: #fff;
                        font-size: 18px;
                        cursor: pointer;
                        position: relative;
                        top: 20px;
                    }

                }
            }

            & .registrar {
                font-size: 20px;

                & a {
                    text-decoration: none;
                    color: #EB423F;
                    font-size: 20px;
                    font-weight: bold;
                }
            }
        }
    }
}

.form-container{
    width: 40vw;
    display: flex;
    justify-content: center;
    border: #000 solid 1px;

}
.linha{
    width: 39vw;
    border: #E0A07C solid 1px;
}

footer {
    background: #E0A07C;
    width: 100vw;
    height: 60px;
    position: absolute;
    overflow: auto;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    color: #AF6B45;
}